@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif; 
  }
  
  .img-custom {
    background-image: url('../public/background.jpg');
    background-position: center;
  }